<p>products works!</p>
{{title}}
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Like</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let p of productList">
        <td>{{p.id}}</td>
        <td>{{p.title}}</td>
        <td>{{p.quantity}}</td>
        <td>{{p.price}}</td>
        <td>{{p.like}}</td>
        <td>
            <button (click)="buy(p.id)" [disabled]="p.quantity==0">Buy</button>
            <button (click)="like(p.id)">Like</button>
        </td>
        <td *ngIf="p.like>=10">Best product !</td>
        <!-- <td [hidden]="p.like<10">Best product !</td> -->
    </tr>
</table>